@import url('../components/RootLayout.css');
  
/* EmailPage.css */

.emailVerificationContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: transparent;
}

.emailVerificationContainer h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
    position: relative;
    top: -380px;
    left: -100px;
}

.emailVerificationContainer form {
    display: flex;
    flex-direction: column;
    width: 300px;
    position: relative;
    top: -380px;
    left: -100px;
}

.emailInput {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
}

.otpButton {
    padding: 10px;
    background-color: #007BFF;
    color: Black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    width: 50%;
}

.otpButton:hover {
    background-color: #0056b3;
}

.errorMessage {
    color: red;
    margin-top: 10px;
    font-size: 0.9rem;
}
