@import url('../components/RootLayout.css');
  
.eventDetails {
  padding: 0px;
  background-color: transparent;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 200px;
  position: relative;
  top: -170px;
}

.eventDetails h2 {
  font-size: 28px;
  color: #333;
  margin-bottom: 10px;
  text-align: left;
  position: relative;
  top: -5px;
  left: 0px;
}

.tag {
  display: inline-block;
  background-color: #ddd;
  padding: 5px 10px;
  border-radius: 5px;
  color: #555;
  font-size: 14px;
  margin-bottom: 20px;
}

.eventDetails p {
  justify-content: justify;
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.eventDetails ul {
  justify-content: justify;
  list-style-type: none;
  padding: 0;
  margin: 0 0 20px 0;
}

.eventDetails ul li {
  font-size: 16px;
  color: #444;
  margin-bottom: 10px;
}

.eventDetails ul li strong {
  color: #000;
}

.registerButton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #6200ea;
  color: #000;
  border: none;
  border-radius: 30px;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  top: 20px;
  left: 10px;
}

.registerButton:hover {
  background-color: #3700b3;
}
