@import url('../components/RootLayout.css');
  

.calendarContainer {
  padding: 20px;
  max-width: 1200px;
  max-height: 50px;
  margin: auto;
  text-align: center;
  position: relative;
  top: 250px;
  left: -200px;
  background: transparent;
}

.heading {
  font-size: 20px;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
  position: relative;
  top: -430px;
  left: 280px;
}

.buttonContainer {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  gap: 300px;
  width: 100%;
  position: relative;
  top: -470px;
  left: 280px;
}

.buttonContainer button {
  background-color: #ff6361;
  color: black;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 10px;
  white-space: nowrap;
  overflow: visible;
  position: relative;
  top: 0px;
  left: 0px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.calendarGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 20px;
  position: relative;
  top: -450px;
  left: 290px;
}

.calendarCell {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.calendarCell h4 {
  margin: 0 0 10px 0;
  color: #555;
  font-weight: bold;
}

.eventLink {
  text-decoration: none;
  color: #ff6361;
  font-weight: bold;
}

.eventLink:hover {
  text-decoration: underline;
}
