@import url('../components/RootLayout.css');

/* Registration.module.css */

.registrationContainer {
  background-color: transparent;
  padding: 20px; /* Add padding for spacing inside the box */
  border-radius: 10px; /* Add slight border-radius for rounded corners */
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1); /* Slight shadow for the box */
  max-width: 400px;
  width: 100%;
  margin: 50px auto; /* Center horizontally and add space from the top */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -160px;
  left: -50px;
}

.registrationContainer form {
  background: transparent;
  box-shadow: none;
  color: black;
  position: relative;
  top: -300px;
  left: 550px;
}


h2 {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
  top: -80px;
  left: 0;
}

.inputField {
  margin-bottom: 15px;
  width: 100%;
}

.label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  position: relative;
  top: 250px;
  left: -550px;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: linear-gradient(90deg, #000000, #737373); /* Gradient for input fields */
  color: white; /* Text color for input */
  position: relative;
  top: 250px;
  left: -550px;
}

.button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 40%;
  font-size: 16px;
  font-weight: bold;
  background: white; /* Gradient background for buttons */
  color: black;
  position: relative;
  top: 250px;
  left: -550px;
}
