@import url('../components/RootLayout.css');

.resetPasswordContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    margin: 0 auto;
    padding: 0px;
    background-color: transparent; /* Subtle background color */
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    position: relative;
    top: -160px;
    left: -100px;
  }
  
  .resetPasswordContainer h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
    top: 0px;
  }
  
  .inputField {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
    transition: border 0.3s;
  }
  
  .inputField:focus {
    border: 1px solid #ff7043; /* Orange highlight on focus */
  }
  
  .resetButton {
    width: 50%;
    padding: 10px;
    margin: 20px 0;
    background-color: #ff7043; /* Button color */
    color: black;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
    left: 100px;
  }
  
  .resetButton:hover {
    background-color: #ff5722; /* Slightly darker hover color */
  }
  
  .errorMessage {
    color: red;
    font-size: 0.9rem;
    margin-top: 10px;
    text-align: center;
    position: relative;
    top: 30px;
  }
  
  .successMessage {
    color: green;
    font-size: 0.9rem;
    margin-top: 10px;
    text-align: center;
  }
  