
@import url('../components/RootLayout.css');

.resourcesContainer {
    margin: 0 auto;
    background-color: black;
    padding: 0px;
    max-width: 1000px; /* Set a reasonable max-width for readability */
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
    top: -200px;
    left: -50px;
}

.careerProgram {
    background-color: #e5d9d0;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    width: 100%;
}

.careerProgram h1 {
    font-size: 32px;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
    position: relative;
    top: -20px;
}

.careerProgram p {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: justify;
    position: relative;
    top: -10px;
}

.courseraLink {
    display: block;
    font-size: 20px;
    color: #1a73e8;
    text-decoration: underline;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

.courseraLink:hover {
    color: #0044cc;
}

@keyframes sparkle {
    0% {
        text-shadow: 0 0 10px rgb(86, 3, 3), 0 0 20px rgb(132, 132, 4),
                     0 0 30px rgb(120, 80, 7), 0 0 40px rgb(173, 5, 5);
    }
    100% {
        text-shadow: 0 0 20px rgb(159, 159, 4), 0 0 30px rgb(182, 120, 5),
                     0 0 40px rgb(118, 35, 35), 0 0 50px rgb(136, 136, 54);
    }
}
