
@import url('../components/RootLayout.css');
/* Settings.module.css */

/* General container for the settings page */
.settingsContainer {
  max-width: 500px;
  max-height: 0px;
  margin: 0 auto;
  padding: 20px;
  background-color: transparent;
  border: 1px solid #ddd;
  border-radius: 8px;
  position: relative;
  top: -180px;
}

/* Heading style */
.settingsContainer h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
  position: relative;
  top: -45px;
}

/* Label styles for input fields */
.settingsContainer label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  color: #555;
  position: relative;
  top: -45px;
}

/* Input field styles */
.settingsContainer select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  background-color: #fff;
  transition: border-color 0.3s ease;
}

.settingsContainer select:focus {
  border-color: #007bff;
  outline: none;
}

/* Save button styles */
.settingsContainer button {
  display: block;
  width: 50%;
  padding: 12px;
  background-color: #007bff;
  color: black;
  position: relative;
  top: -45px;

  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.settingsContainer button:hover {
  background-color: #0056b3;
}
.textInput {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  gap: 50px; /* Add spacing between buttons */
  margin-top: 20px;
}

.saveButton,
.changePasswordButton {
  flex: 1; /* Make buttons the same width */
  text-align: center;
  padding: 10px;

  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.saveButton {
  background-color: #4caf50;
  color: white;
}

.saveButton:hover {
  background-color: #45a049;
}

.changePasswordButton {
  background-color: #2196f3;
  color: white;
}

.changePasswordButton:hover {
  background-color: #0b7dda;
}

.errorMessage {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}